body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

header {
  height: 10%;
  line-height: 30px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  margin: 0;
  position: relative;
}

header h1 {
  color: white;
}

.container {
  height: 100%;
  display: flex;
}

aside.sideBar {
  width: 15%;
  display: flex;
  justify-content: center;
}

.sideBar .other-menu {
  background-color:lightgray;
  border-radius: 10px;
  width: 80%;
  height: 130px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 900px) {
  .sideBar .other-menu {
    position: fixed;
    height: 90px;
    width: 90px;
    background-color: transparent;
    top: 5px;
    left: 30px;
    margin: 0;

  }

  .sideBar .other-menu .other-menu-title {
    display: none;
  }

  .sideBar .other-menu .other-menu-macdonald {
    height: 20px;
    margin-bottom: 2px;
  }

  .sideBar .other-menu .other-menu-burgerking {
    height: 20px;
    margin-top: 2px;
  }
}

.sideBar .other-menu .other-menu-title {
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.sideBar .other-menu .other-menu-macdonald {
  width: 80%;
  height: 25px;
  background-color: gray;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
  margin-bottom: 5px;;
}

.sideBar .other-menu .other-menu-burgerking {
  width: 80%;
  height: 25px;
  background-color: darkgray;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 5px;
}

section {
  width: 60%;
}

section.burger {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content:flex-start
}

article.burger-card {
  border: solid 2px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px black;
  display: flex;
  width: 45%;
  height: 150px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  article.burger-card {
    width: 100%;
  }
}

.burger-card:hover {
  background-color:lightskyblue;
}

img {
  width: 40%;
  height: 60%;
}

.burger-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.burger-card .burger-detail-name {
  font-weight: 900;
}

.burger-card .burger-detail-price {
  font-weight: 700;
}

.burger-card .burger-detail-ment {
  color:dimgrey;
}

aside.addToCart {
  width: 25%;
}
.addToCart .addToCart-container {
  background-color:black;
  height: 230px;
  width: 230px;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10%;
  left: 80%;
}

.addToCart .cart {
  height: 30%;
  border-bottom: solid white 2px;
  margin: 10px;
  color: white;
  font-weight: 900;
  font-size: 20px;
}

.addToCart .amount {
  display: flex;
  flex-direction: column;
  border-bottom: solid white 2px;
  margin: 10px;
  padding-bottom: 20px;
  color: white;
  font-size: 20px;
  font-weight: 900;
}

.addToCart .amount-price {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 700;
}

.addToCart .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.addToCart .btn-container .orderBtn {
  margin-right: 5px;
  cursor: pointer;
}

.addToCart .btn-container .cancelBtn {
  margin-left: 5px;
  cursor: pointer;
}


